<div data-spy="affix" data-offset-top="30" class="courses-rg-nav">
  <section>
    <h4>热门课程</h4>
    <ul class="right-list list-unstyled" id="hot-list">
      正在加载...
    </ul>
  </section>

    <h4>女生最爱</h4>
    <ul class="right-list list-unstyled" id="girls-list">
      正在加载...
    </ul>

    <h4>猜你喜欢上...</h4>
    <ul class="right-list list-unstyled" id="guess-u">
      <a href="#">Android程序设计</a>
    </ul>
</div>    